<div #builder>
    <div class="card">
        <div class="card-body"  [@inOutAnimation] *ngIf="query">
          <h5 class="card-title" [translate]="'QueryBuilder.Title'"></h5>
          <h6 [lang]="currentLang" class="card-subtitle mb-2 text-gray-300 text-uppercase" [translate]="'QueryBuilder.SubTitle'"></h6>
          <ng-container>
            <universis-query-composite-element [customParams]="customParams" [element]="query" [elementTemplate]="elementTemplate" ></universis-query-composite-element>
          </ng-container>
          <div>
            <button (click)="addFilter()"  type="button" class="d-none btn btn-gray-100 text-theme align-middle">
                <span class="mr-2">+</span><span [translate]="'QueryBuilder.AddFilter'"></span>
            </button>
            <div class="ml-2 btn-group d-none">
              <button (click)="switchGroup(query.operator === '$and' ? '$or' : '$and')" type="button" class="btn btn-gray-100 text-theme" [translate]="'QueryBuilder.SwitchGroup'"></button>
              <button type="button" class="btn btn-gray-100 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <button (click)="switchGroup('$and')" type="button" class="dropdown-item text-theme">
                    <span class="mr-2">&amp;</span><span [translate]="'QueryBuilder.And'"></span>
                </button>
                <button (click)="switchGroup('$or')" type="button" class="dropdown-item text-theme">
                  <span class="mr-2">||</span><span [translate]="'QueryBuilder.Or'"></span>
                </button>
              </div>
            </div>
            <div class="ml-2 btn-group">
              <button *ngIf="persistent === true && saving === false" (click)="saving = !saving" type="button" class="btn btn-gray-100 text-theme">
                <span class="mr-2">&gt;</span><span [translate]="'QueryBuilder.save'"></span>
              </button>
            </div>
            <form *ngIf="saving" [@inOutAnimation] #f="ngForm" novalidate>
              <div ref="component"
                class="form-group has-feedback formio-component formio-component-textfield formio-component-right">
                <div ref="element">
                  <label class="form-label mt-2 text-secondary" [translate]="'QueryBuilder.WriteDescription'"></label>
                  <input  ngModel [required]="true" class="form-control" type="text" name="title"  ref="input">
                </div>
                <div class="formio-errors invalid-feedback" ref="messageContainer">
                </div>
              </div>
              <button [disabled]="f.invalid" (click)="onSave(f)" type="button" class="btn btn-theme mr-2">
                <span [translate]="'QueryBuilder.save'"></span>
              </button>
              <button (click)="onCancelSave()" type="button" class="btn btn-gray-100 text-secondary">
                <span [translate]="'QueryBuilder.cancel'"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
</div>