// @import '~choices.js/public/assets/styles/choices.css';

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
      padding-right: 10px;
    }
    .choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
      display: none;
    }
    [dir=rtl] .choices__list--dropdown .choices__item--selectable, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
      text-align: right;
      padding-left: 10px;
      padding-right: 10px;
    }
    [dir=rtl] .choices__list--dropdown .choices__item--selectable::after, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
      right: auto;
      left: 10px;
    }
  }

// @import '~formiojs/dist/formio.form.css';

universis-query-element {
  .formio-form {
    min-height: unset;
  }
  .formio-loader {
    display: none !important;
    height: 0px !important;
  }
  .formio-loading {
    display: none !important;
  }
}